- returns a DataFrameGroupBy object, which is a collection of dataframes, one dataframe per group
- len(<<DataFrameGroupBy>>) returns the number of nested dataframes
- # Methods & Attributes
    - size() returns a Series with the index set to column grouped on and the value set to the number of records within that group
    - get_group(<<group name>>) returns the dataframe for the given group
    - [<<name of the column to aggregate on>>].<<aggregate function to call>>()
        - the aggregation function can be sum(), max(), min(), count(), mean() etc
    - agg({}) takes in a dictionary, where the key is the column name and value is the aggregate function to apply
    - apply() applies the given function once per dataframe within the group

In [1]:
import pandas as pd
fortune = pd.read_csv("data/fortune1000.csv", index_col="Rank")
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [2]:
# returns a DataframeGroupBy object
fortune_by_sector = fortune.groupby("Sector")
fortune_by_sector

In [5]:
# to get the number of nested dataframes
len(fortune_by_sector)

21

In [7]:
# number of records per dataframe
fortune_by_sector.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [8]:
# on the DataFrameGroupBy object, target the column(s) to aggregate on and invoke the aggregate function
fortune_by_sector["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [12]:
# using two columns
fortune_by_sector[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

In [13]:
# get the sum of the revenue and the maximum profit per sector
fortune_by_sector.agg({"Revenue": "sum", "Profits": "max"})

                              Revenue  Profits
Sector
Aerospace & Defense            357940     7608
Apparel                         95968     3273
Business Services              272195     6328
Chemicals                      243897     7685
Energy                        1517809    16150
Engineering & Construction     153983      803
Financials                    2217159    24442
Food and Drug Stores           483769     5237
Food, Beverages & Tobacco      555967     7351
Health Care                   1614707    18108
Hotels, Resturants & Leisure   169546     5920
Household Products             234737     7036
Industrials                    497581     4833
Materials                      259145      991
Media                          220764     8382
Motor Vehicles & Parts         482540     9687
Retailing                     1465076    14694
Technology                    1377600    53394
Telecommunications             461834    17879
Transportation                 408508     7610
Wholesalers                    444800     1472

In [14]:
# get the top two companies with the latest number of employees per sector

def top_two_emp_count(sector):
    return sector.nlargest(2, "Employees")

fortune_by_sector.apply(top_two_emp_count)

C:\Users\subsaw\AppData\Local\Temp\ipykernel_17320\1002218064.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  fortune_by_sector.apply(top_two_emp_count)

                                                    Company  \
Sector                       Rank
Aerospace & Defense          45         United Technologies
                             24                      Boeing
Apparel                      448                Hanesbrands
                             231                         VF
Business Services            199                    Aramark
                             744                  Convergys
Chemicals                    101                     DuPont
                             56                Dow Chemical
Energy                       2                  Exxon Mobil
                             117                Halliburton
Engineering & Construction   156                      AECOM
                             235   Jacobs Engineering Group
Financials                   4           Berkshire Hathaway
                             27                 Wells Fargo
Food and Drug Stores         17                      Kroger
                             19    Walgreens Boots Alliance
Food, Beverages & Tobacco    44                     PepsiCo
                             62                   Coca-Cola
Health Care                  63                HCA Holdings
                             6           UnitedHealth Group
Hotels, Resturants & Leisure 218                 Yum Brands
                             109                 McDonald’s
Household Products           34            Procter & Gamble
                             256     Stanley Black & Decker
Industrials                  11            General Electric
                             75     Honeywell International
Materials                    126                      Alcoa
                             127        International Paper
Media                        53                      Disney
                             255      R.R. Donnelley & Sons
Motor Vehicles & Parts       8               General Motors
                             9                   Ford Motor
Retailing                    1                      Walmart
                             28                  Home Depot
Technology                   31                         IBM
                             20                          HP
Telecommunications           10                        AT&T
                             13                     Verizon
Transportation               48                         UPS
                             58                       FedEx
Wholesalers                  212                     Synnex
                             57                       Sysco

                                                         Sector  \
Sector                       Rank
Aerospace & Defense          45             Aerospace & Defense
                             24             Aerospace & Defense
Apparel                      448                        Apparel
                             231                        Apparel
Business Services            199              Business Services
                             744              Business Services
Chemicals                    101                      Chemicals
                             56                       Chemicals
Energy                       2                           Energy
                             117                         Energy
Engineering & Construction   156     Engineering & Construction
                             235     Engineering & Construction
Financials                   4                       Financials
                             27                      Financials
Food and Drug Stores         17            Food and Drug Stores
                             19            Food and Drug Stores
Food, Beverages & Tobacco    44       Food, Beverages & Tobacco
                             62       Food, Beverages & Tobacco
Health Care                  63                     Health Care
                             6                      Health Care
Hotels, Resturants & Leisure 218   Hotels, Resturants & Leisure
                             109   Hotels, Resturants & Leisure
Household Products           34              Household Products
                             256             Household Products
Industrials                  11                     Industrials
                             75                     Industrials
Materials                    126                      Materials
                             127                      Materials
Media                        53                           Media
                             255                          Media
Motor Vehicles & Parts       8           Motor Vehicles & Parts
                             9           Motor Vehicles & Parts
Retailing                    1                        Retailing
                             28                       Retailing
Technology                   31                      Technology
                             20                      Technology
Telecommunications           10              Telecommunications
                             13              Telecommunications
Transportation               48                  Transportation
                             58                  Transportation
Wholesalers                  212                    Wholesalers
                             57                     Wholesalers

                                                                        Industry  \
Sector                       Rank
Aerospace & Defense          45                            Aerospace and Defense
                             24                            Aerospace and Defense
Apparel                      448                                         Apparel
                             231                                         Apparel
Business Services            199                Diversified Outsourcing Services
                             744                Diversified Outsourcing Services
Chemicals                    101                                       Chemicals
                             56                                        Chemicals
Energy                       2                                Petroleum Refining
                             117                 Oil and Gas Equipment, Services
Engineering & Construction   156                       Engineering, Construction
                             235                       Engineering, Construction
Financials                   4          Insurance: Property and Casualty (Stock)
                             27                                 Commercial Banks
Food and Drug Stores         17                             Food and Drug Stores
                             19                             Food and Drug Stores
Food, Beverages & Tobacco    44                           Food Consumer Products
                             62                                        Beverages
Health Care                  63                  Health Care: Medical Facilities
                             6           Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure 218                                   Food Services
                             109                                   Food Services
Household Products           34                  Household and Personal Products
                             256                     Home Equipment, Furnishings
Industrials                  11                             Industrial Machinery
                             75                   Electronics, Electrical Equip.
Materials                    126                                          Metals
                             127                           Packaging, Containers
Media                        53                                    Entertainment
                             255                            Publishing, Printing
Motor Vehicles & Parts       8                          Motor Vehicles and Parts
                             9                          Motor Vehicles and Parts
Retailing                    1                             General Merchandisers
                             28                       Specialty Retailers: Other
Technology                   31                  Information Technology Services
                             20                      Computers, Office Equipment
Telecommunications           10                               Telecommunications
                             13                               Telecommunications
Transportation               48              Mail, Package, and Freight Delivery
                             58              Mail, Package, and Freight Delivery
Wholesalers                  212   Wholesalers: Electronics and Office Equipment
                             57                    Wholesalers: Food and Grocery

                                   Revenue  Profits  Employees
Sector                       Rank
Aerospace & Defense          45      61047     7608     197200
                             24      96114     5176     161400
Apparel                      448      5732      429      65300
                             231     12377     1232      64000
Business Services            199     14329      236     216500
                             744      2951      169     130000
Chemicals                    101     27940     1953      52000
                             56      48778     7685      49495
Energy                       2      246204    16150      75600
                             117     23633     -671      65000
Engineering & Construction   156     17990     -155      92000
                             235     12115      303      56950
Financials                   4      210821    24083     331000
                             27      90033    22894     264700
Food and Drug Stores         17     109830     2039     431000
                             19     103444     4220     302500
Food, Beverages & Tobacco    44      63056     5452     263000
                             62      44294     7351     123200
Health Care                  63      43591     2129     203500
                             6      157107     5813     200000
Hotels, Resturants & Leisure 218     13105     1293     505000
                             109     25413     4529     420000
Household Products           34      78756     7036     110000
                             256     11211      884      51250
Industrials                  11     140389    -6126     333000
                             75      38581     4768     129000
Materials                    126     22534     -322      60000
                             127     22365      938      56000
Media                        53      52465     8382     185000
                             255     11257      151      68400
Motor Vehicles & Parts       8      152356     9687     215000
                             9      149558     7373     199000
Retailing                    1      482130    14694    2300000
                             28      88519     7009     385000
Technology                   31      82461    13190     411798
                             20     103355     4554     287000
Telecommunications           10     146801    13345     281450
                             13     131620    17879     177700
Transportation               48      58363     4844     341240
                             58      47453     1050     323035
Wholesalers                  212     13338      209      78500
                             57      48681      687      51700